.below-fold-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.below-fold-headline h2 {
  color: #16855D;
  margin-bottom: 35px;
}

.bubble-blurb {
  width: 60%;
  padding: 20px 45px 20px 45px;
  background: white;
  border: 1px solid #0CAD64;
  border-radius: 30px;
  margin-bottom: 50px;
  box-shadow: 0px 24px 25px rgba(9, 133, 93, 0.18), 0px 8.7604px 9.12541px rgba(9, 133, 93, 0.124197), 0px 4.25301px 4.43022px rgba(9, 133, 93, 0.100132), 0px 2.0849px 2.17178px rgba(9, 133, 93, 0.0798677), 0px 0.824374px 0.858723px rgba(9, 133, 93, 0.0558033);
}

.bubble-blurb p {
  line-height: 25px;
}

.more-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.more-details.smaller {
  flex-direction: column;
}

.more-details h3 {
  font-size: 35px;
}

.more-details .invest {
  width: 20%;
  color: white;
  text-align: right;
}

.invest.smaller {
  width: 65%;
  text-align: center;
}

.more-details .village-logo {
  width: 10%;
}

.village-logo.smaller {
  width: 20%;
}

.more-details .village-logo img {
  height: 100px;
}

.more-details .borrow {
  width: 20%;
  color: white;
  text-align: left;
}

.borrow.smaller {
  width: 65%;
  text-align: center;
}

.bottom-blurb {
  width: 60%;
  padding: 20px 45px 20px 45px;
  background: #099F72;
  border: 2px solid rgba(46, 155, 105, 0.75);
  border-radius: 30px;
  margin-bottom: 30px;
}

.bottom-blurb.smaller {
  margin-top: 50px;
}

.bottom-blurb p {
  color: white;
  line-height: 25px;
}

.docs-cta {
  color: white;
}

.rounded {
  width: 5%;
  border: 2px solid rgba(46, 155, 105, 0.75);
  border-radius: 2px;
  margin-left: 40px;
  margin-right: 40px;
}

.vertical-rounded {
  width: 5%;
  border: 2px solid rgba(46, 155, 105, 0.75);
  border-radius: 2px;
  margin-left: 0px;
  margin-right: 0px;
  transform: rotate(90deg);
}

.vertical-rounded.smaller {
  width: 10%;
}
