.app-topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 90vw;
  padding: 30px;
  margin-bottom: 45px;
  overflow: auto;
  white-space: normal;
}

.app-topbar.smaller {
  justify-content: center;
}

.app-topbar .app-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 25%;
}

.app-topbar .app-logo img {
  width: 25%;
}

.app-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.app-links.smaller {
  width: 75%;
}

.app-topbar a {
  color: #18814F;
  text-decoration: none;
  margin-right: 20px;
}

p {
  font-size: 18px;
}