.main-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main-content.smaller {
  flex-direction: column;
}

.text-and-buttons {
  max-width: 30%;
  color: #16855D;
  padding-left: 50px;
  padding-right: 25px;
  text-align: left;
}

.text-and-buttons.smaller {
  max-width: 65%;
  margin-bottom: 50px;
  text-align: center;
}

.image {
  max-width: 50%;
}

.image.smaller {
  max-width: 75%;
}

.main-content h2 {
  font-size: 35px;
}

.main-content p {
  margin-bottom: 35px;
}

.main-content img {
  width: 75%;
}

.buttons {
  display: flex;
  flex-direction: row;
  height: 50px;
}

.buttons.smaller {
  justify-content: center;
}

.buttons .learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #56B4D3 0%, #348F50  51%, #56B4D3  100%);
  width: 40%;
  height: 100%;
  text-align: center;
  background-size: 200% auto;
  border-radius: 30px;
  border-width: 0px;
  margin-right: 20px;
  font-size: 20px;
  filter: drop-shadow(0px 42.1961px 43.9543px rgba(9, 133, 93, 0.18)) drop-shadow(0px 15.4023px 16.044px rgba(9, 133, 93, 0.124197)) drop-shadow(0px 7.47751px 7.78908px rgba(9, 133, 93, 0.100132)) drop-shadow(0px 3.66562px 3.81835px rgba(9, 133, 93, 0.0798677)) drop-shadow(0px 1.44939px 1.50978px rgba(9, 133, 93, 0.0558033));
}

.buttons .learn-more a {
  text-decoration: none;
  color: white;
}

.buttons .apply {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, #E26F67 0%, #E4A843  51%, #E26F67  100%);
  width: 40%;
  height: 100%;
  text-align: center;
  background-size: 200% auto;
  color: white;
  border-radius: 30px;
  border-width: 0px;
  margin-right: 20px;
  font-size: 20px;
  filter: drop-shadow(0px 42.1961px 43.9543px rgba(9, 133, 93, 0.18)) drop-shadow(0px 15.4023px 16.044px rgba(9, 133, 93, 0.124197)) drop-shadow(0px 7.47751px 7.78908px rgba(9, 133, 93, 0.100132)) drop-shadow(0px 3.66562px 3.81835px rgba(9, 133, 93, 0.0798677)) drop-shadow(0px 1.44939px 1.50978px rgba(9, 133, 93, 0.0558033));
}

.buttons .apply a {
  text-decoration: none;
  color: white;
}